<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Way2Automation Suites" parallel="tests" thread-count="3">
    <suite-files>
        <suite-file path="multiform.xml"/>
        <suite-file path="registeration.xml"/>
        <suite-file path="sql_cookie.xml"/>
    </suite-files>
</suite>